@use 'variables' as vars;
@use 'mixins' as mix;
@use 'functions' as func;

*,
*::before,
*::after {
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: vars.$text;
  color: vars.$grey-200;
  background: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 59%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// typography

.text-xl {
  font-size: func.px-to-rem(32);
  line-height: func.px-to-rem(42);
}

.text-l {
  font-size: func.px-to-rem(24);
  line-height: func.px-to-rem(32);
}
.text-m {
  font-size: func.px-to-rem(18);
  line-height: func.px-to-rem(24);
}
.text-s {
  font-size: func.px-to-rem(16);
  line-height: func.px-to-rem(20);
}
