@use 'variables' as vars;
@use 'mixins' as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: vars.$text;
  color: vars.$grey-200;
  background: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 59%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// typography

.text-xl {
  font-size: 32px;
  line-height: 42px;
}

.text-l {
  font-size: 24px;
  line-height: 32px;
}
.text-m {
  font-size: 18px;
  line-height: 24px;
}
.text-s {
  font-size: 16px;
  line-height: 20px;
}
