// colors

$white: #ffffff;
$black: #000000;

$grey-950: #08070b;
$grey-900: #14131b;
$grey-850: #18171f;
$grey-800: #24232c;
$grey-700: #54535b;
$grey-600: #817d92;
$grey-200: #e6e5ea;

$accent-green: #a4ffaf;
$accent-yellow: #f8cd65;
$accent-orange: #fb7c58;
$accent-red: #f64a4a;

$gradient-1: #14131b;
$gradient-2: #08070b;

$text: 'JetBrains Mono', monospace;





